.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  border:solid 1px black;
  width: 500px;
  height: 285px;
  border-radius: 15px;
  margin-left: 53px;
  margin-top: 20px;
}
.judul{
  top: 20px;
  text-align: center;
}
form{
  text-align: left;
}
.tulisan{ 
  margin-left: 20px;
}
#inputTulisan{
  margin-left: 12px;
  outline: none;
}
.tombol{
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
}
#spasi{ margin-left: 160px; }
#spasi2{ margin-left: 53px;}
.topnav{
  display: flex;
  background-color:#ebe9da;
  left: 0;
  height: 100px;
  margin: 0px;
  align-items: center;
  padding-left: 50%;
}
ul{
  list-style-type:none;
  font-size: 14pt;
}
li{
  margin: 0 9px;
}
li :focus{
  border: solid #d4c663 2px;
  padding: 4px;
}
.link{
  text-decoration: none;
  color:#5c5a4c;
}
.change-theme{
  font-size: 20pt;
  margin: 10px 0 0 200px;
  border-radius: 20px;
  width: 250px;
  outline: none;
  cursor: pointer;
}